node_modules
test
tests
*.spec.js
*.test.js
.eslintrc
.prettierrc
.gitignore
.npmignore
coverage
.nyc_output
*.log
.DS_Store
scripts/specs
vitest.config.js
tsconfig.json
babel.config.js
rollup.config.js
.eslintcache
pnpm-workspace.yaml

